<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>

    <ion-item *ngFor="let news of newsList">
      <ion-thumbnail slot="start">
        <ion-img [alt]="news.title" src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1312059974,1893880587&fm=11&gp=0.jpg"></ion-img>
      </ion-thumbnail>
      <ion-label>
        {{news.title}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
